# .gitignore

# Clojure specific
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

# project specfic
*.log
*.prev

# Editor artifacts
.nrepl-port
*~

# silly Mac filesystem
*.DS_Store*
*._*
